Lexer/*.o
Lexer/*.hi
Lexer/*.info
Lexer/Lexer.hs

Parser/*.o
Parser/*.hi
Parser/*.info
Parser/Parser.hs

Semantic/*.o
Semantic/*.hi
Semantic/*.info

Run/*
!Run
Libraries/Source/lib.so

*.o
*.hi
*.info
*.out
*.ll
